header a {
    text-decoration: none; /* Remove underline */
    color: black; /* Set the desired color */
}

header {
    background-color: #E7DFD8;
    padding: 20px;
}

header nav ul li {
    display: inline-bock;
    position: relative; /* Set the parent list item as a reference for positioning */
}

header nav ul li ul {
    display: none; /* Hide the subpages by default */
    position: absolute;
    top: 100%; /* Position the subpages below the parent item */
    left: 0;
}

header nav ul li:hover > ul {
    display: block; /* Show the subpages when hovering over the parent item */
}

h1 {
    color: #333;
    font-size: 28px;
    text-align: center;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #E7DFD8;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

/* Styling header*/
#main-header-section {
    width: 100%;
}

container {
    list-style:none;
}