/* Apply to all */
* {
    font-family: 'Montserrat', 'sans-serif';

}

/* CSS Elements & Captions */
body {
    background-color: #E7DFD8;
    margin: 0;
    padding-top: 0;
}

h1, h2, h3, .caption {
    padding: 10px 10px 2px 70px;
    font-weight: normal;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

p, ol li, .bold-header, li {  
    margin-left: 90px;
    margin-right: 90px;
    text-align: justify;
}

ol li {
    margin-bottom: 15px;
}

.caption {
    font-size: 12px;
    font-style: italic;
}

.small-text {
    font-size: 12px;
}

/* Different text colors */
.red-text {
    color: rgb(147, 2, 2);
}

.blue-text {
    color: blue;
}

/* Navigation bar and logo */
.navbar {
    display: flex;
    background: #E7DFD8;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    position: relative;
}

.navbar ul, .navbar li {
    margin: 0;
    padding: 0;
}

.navbar ul {
    background: #E7DFD8;
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    position: relative;
}

.navbar ul li a {
    display: block;
    padding: 10px 10px;
    color: gray;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}

.navbar ul li ul.dropdown li {
    display: block;
}

.navbar ul li ul.dropdown {
    width: 100%;
    background: brown;
    position: absolute;
    z-index: 999;
    display: none
}

.navbar ul li a:hover {
    /* background: #C0BFB3; */
    font-weight: bold;
}

.navbar ul li:hover ul.dropdown {
    display: block;
} */

.navbar li {
    float: left;
    position: relative;
}

.navbar a {
    background: #E7DFD8;
    color: black;
    display: block;
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
    padding: 0px;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}

.navbar li:hover a {
    color: #A6A6A6;
}

#dropdown {
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    top: 100%;
}

li:hover ul#dropdown {
    opacity: 1;
    top: 80px;
    visibility: visible;
}

#dropdown li {
    float: none;
    width: 100%;
}

#dropdown a:hover {
    color: #A6A6A6;
}

#dropdown a {
    color:black;
    font-size: 13px;
}

@media (max-width: 480px) {
    .navbar a {
      padding: 8px;
      font-size: 15px;
    }
} 

/* Home Page */
.bio-container {
    margin: 20px auto;
    padding: 10px 10px 10px 10px;
    background-color: rgb(150, 136, 141, 0.5);
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    height: 100%;
}

.headshot {
    float: right;
    width: 180px;
    height: 250px;
    padding: 5px 5px 5px 5px;
    object-fit: cover;
    clip-path: ellipse(35% 48% at 50% 50%);
}

.intro-btn {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    background-color: #E7DFD8;
    color: #4b2e26;
    text-decoration: none;
    border: 2px solid #4b2e26;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
.intro-btn:hover {
    background-color: rgb(150, 136, 141);
  }

.centered-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.banner-img {
    max-width: 100%;
    height: auto;
}

.olin-logo {
    width: 180px;
    height: 30px;
    padding: 0px 10px;
}

/* Three Hats portion */
.hats-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
}

.hats-grid {
    background-color: aliceblue;
    padding: 20px;
    height: auto;
    text-align: center;
}

div.hats-grid p {
    margin: 10px 30px;
}

.center-btn-container { /* Button for Building Olin on About page */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #E7DFD8;
    color: #4b2e26;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #4b2e26;
    transition: background-color 0.3s ease;
}

/* Centers embedded PDF */
.pdf-container {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Splitting the page in half */
.left-half, .right-half {
    width: 50%;
    /* float: left; */
}

/* Video grid */
.video-grid {
    --gap: 16px; /* CSS var */
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);


    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);  /* Unlimited amount of rows */
    gap: var(--gap);    /* Gap between each image */
}

.video-grid > iframe { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Anything under 1024px */
@media screen and (max-width: 1024px) {
    .video-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}
