/* Apply to all */
* {
    font-family: 'Montserrat', 'sans-serif';

}

/* CSS Elements & Captions */
body {
    background-color: #E7DFD8;
    margin: 0;
    padding-top: 0;
}

h1, h2, h3, .caption, .small-caption {
    padding: 10px 90px;
    font-weight: normal;
}

h1 {
    font-size: 30px;
    padding-top: 30px;
}

h2 {
    font-size: 25px;
}

h3 {
    font-size: 20px;
}

p, ol li, .bold-header { /*, li {  */
    margin-left: 90px;
    margin-right: 90px;
    text-align: justify;
}

ol li {
    margin-bottom: 15px;
}

.caption {
    font-size: 12px;
    font-style: italic;
}

.small-caption {
    font-size: 10px;
    font-style: italic;
}

.small-text {
    font-size: 12px;
}

/* Different text colors */
.red-text {
    color: rgb(147, 2, 2);
}

.blue-text {
    color: blue;
}

/* New attempt at dropdown */
.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 60px;
    background-color: #E7DFD8;
    justify-content: space-between;
    align-items: center;
}

.navbar ul {
    float: left;
}

.navbar ul li {
    float: left;
    list-style: none;
    position: relative; /* Need to have this to active position: absolute later */
}

/* Styling main sections */
.navbar ul li a {
    display: block;
    font-family: 'Montserrat', 'sans-serif';    
    color: #222;
    font-size: 16px;
    padding: 10px 10px;
    text-decoration: none;
}

.navbar ul li ul {
    display: none;
    position: absolute;
    background-color: #E7DFD8;
    padding: 0px;
    border-radius: 0px 0px 4px 4px;
}

.navbar ul li:hover ul {
    display: block;
}

/* Restyling anchor tag inside dropdown */
.navbar ul li ul li a {
    padding: 10px 10px;
    font-size: 13px;
}

.navbar ul li ul li {
    width: 160px;
    border-radius: 4px;
}

.navbar ul li ul li a:hover {
    font-weight: bold;
    background-color: #E7DFD8;
}

/* Home Page */
.bio-container {
    margin: 20px auto;
    padding: 10px 10px 10px 10px;
    background-color: rgb(150, 136, 141, 0.5);
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    height: 100%;
}

.headshot {
    float: right;
    width: 180px;
    height: 250px;
    padding: 10px 90px 10px 20px;
    object-fit: cover;
    /* clip-path: ellipse(35% 48% at 50% 50%); */
}

.intro-btn {
    display: inline-block;
    padding: 10px 20px 10px 20px;
    background-color: #E7DFD8;
    color: #4b2e26;
    text-decoration: none;
    border: 2px solid #4b2e26;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
.intro-btn:hover {
    background-color: rgb(150, 136, 141);
  }

.centered-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.banner-img {
    max-width: 100%;
    height: auto;
}

.center-img {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 75%;
    height: 50%;
}

.olin-logo {
    width: 180px;
    height: 30px;
    padding: 0px 10px;
}

/* Three Hats portion */
.hats-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin: 10px;
}

.hats-grid {
    background-color:  rgba(181, 173, 175, 0.875);
    padding: 20px;
    height: auto;
    text-align: center;
}

div.hats-grid p {
    margin: 10px 30px;
}

.center-btn-container { /* Button for Building Olin on About page */
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #E7DFD8;
    color: #4b2e26;
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid #4b2e26;
    transition: background-color 0.3s ease;
}

/* Centers embedded PDF */
.pdf-container {
    width: 500px;
    height: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Splitting the page in half */
.left-half, .right-half {
    width: 50%;
    /* float: left; */
}

/* Video grid */
.video-grid {
    --gap: 16px; /* CSS var */
    --num-cols: 4;
    --row-height: 300px;

    box-sizing: border-box;
    padding: var(--gap);


    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);  /* Unlimited amount of rows */
    gap: var(--gap);    /* Gap between each image */
}

.video-grid > iframe { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Anything under 1024px */
@media screen and (max-width: 1024px) {
    .video-grid {
        --num-cols: 2;
        --row-height: 200px;
    }
}

/* Another try at a video grid (one row)*/
.video-grid-container {
    display: flex;
    gap: 20px;
}

/* Place for each individual video so everything is spaced right */
.video-spacing {
    flex: 1;
    max-width: 100%;
    text-align: center;
}